@page "/"
@using AppLogic.Services;
@using BlazorServerApp.Components

@inject NavigationManager Navigation
@inject ITestService TestService

@inject IJSRuntime JSRuntime;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CounterComponent/>

<PassVariableComponent ErrorList="@Errors"/>

<PassFunctionComponent Nav="@Navigate" />

<PassEventCallBackComponent ConsoleEventCallBack="@PrintText" />

<div>
    <button class="btn btn-warning" type="button" @onclick="CallJsAlert">Call JS Alert from C#</button>
    <button class="btn btn-warning" type="button" onclick="returnStringAsync()">Call C# from JS</button>
</div>


@code{
    private List<string> Errors { get; set; } = new List<string> { "Click 1", "Click 2" };

    public void Navigate()
    {
        Navigation.NavigateTo("counter-component");
    }

    private Task PrintText(string value)
    {
        Errors.Add(value);
        TestService.TestFunction();
        return Task.CompletedTask;
    }

    private async void CallJsAlert()
    {
        await JSRuntime.InvokeAsync<object>("Alert", "Tekst van de alert");
    }

    [JSInvokable]
    public static Task<string> ReturnString()
    {
        return Task.FromResult("test");
    }
}