@page "/form"
@using BlazorServerApp.Models;

<EditForm Model="@Person" OnValidSubmit="@ValidSubmit" OnInvalidSubmit=@InvalidSubmit class="row">
    <DataAnnotationsValidator />

    <div class="col">
        <h5>Person</h5>
        <div class="my-3">
            <label for="">ID:</label>
            <InputNumber @bind-Value="Person.Id" placeholder="ID"></InputNumber>
            <ValidationMessage For="() => Person.Id" />
        </div>
        <div class="my-3">
            <label for="">Name:</label>
            <InputText @bind-Value="Person.Name" placeholder="Name" @oninput="OnChangeEvent"></InputText>
           <ValidationMessage For="() => Person.Name"/>
        </div>
        <div class="my-3">
            <label for="">Height:</label>
            <InputNumber @bind-Value="Person.Height" placeholder="Length"></InputNumber>
            <ValidationMessage For="() => Person.Height" />
        </div>
        <div class="my-3">
            <label for="">Day of birth:</label>
            <InputDate @bind-Value="Person.DayOfBirth" placeholder="Day of birth"></InputDate>
            <ValidationMessage For="() => Person.DayOfBirth" />
        </div>
    </div>

    <button class="btn btn-primary my-3" type="submit">Submit</button>
    
    <div class="p-3 bg-dark text-white">
        <h3>Validation Errors</h3>
        <ValidationSummary />
    </div>
</EditForm>

@code {
    private Person Person { get; set; } = new Person();

    private void Submit()
    {
    }
    private void ValidSubmit()
    {
    }
    private void InvalidSubmit()
    {
    }
    private void OnChangeEvent(ChangeEventArgs e)
    {
        
    }
}